body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  width: 500px;
  height: 100vh;
  margin: auto;
}

nav {
  background-color: #f55a5a;
  padding: 1em;
}
.padd {
  margin: 0;
  padding: 0;
}
ul {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  padding: 0.75em 0px;
}
li {
  list-style-type: none;
  color: #ffff;
}
.fa-globe {
  font-size: 24px;
  background-color: #f55a5a;
}
/* Card CSS section */
.card {
  display: flex;
  gap: 0.75em;
  margin-bottom: 1em;
}
.section-margin {
  margin: 0.75em 0em 0.25em 1.2em;
}

img {
  border-radius: 9px;
  padding-left: 0.5em;
  width: 160px;
  height: 200px;
  font-size: 0.5em;
  font-weight: 200px;
}
.fa-map-marker {
  font-size: 10px;
  color: #f55a5a;
}
.location-details {
  display: flex;
  flex-direction: row;
}
.a-tag {
  align-self: center;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0em 0.65em;
}

.country-p {
  font-size: 0.65em;
  letter-spacing: 0.2em;
  font-weight: normal;
}

a {
  color: #918e9b;
  font-size: 0.45em;
  align-items: center;
  padding-left: 0.75em;
}
.title {
  margin: 0px;
  padding: 0px;
  font-size: 1.5em;
  line-height: 1.5em;
  margin-bottom: 0.55em;
}

.date-p,
.desc-p {
  margin: 0px;
  font-size: 0.55em;
  padding-bottom: 0.75em;
  line-height: 1.5em;
}
.desc-p {
  font-weight: normal;
}
